<div class="content-area p-4 sm:p-8">
  <div class="bg-white p-8 rounded-lg shadow-md w-full mx-auto">
    <p class="text-gray-800 text-lg leading-relaxed text-left">
      Essa plataforma foi desenvolvida como uma extensão prática do Plano de Defesa (PD), ferramenta indispensável para
      o atendimento a incidentes críticos de alta complexidade, como o domínio de cidades e os salves de facções. A
      proposta é centralizar ferramentas digitais que auxiliem operadores de segurança pública a planejarem, treinarem e
      executarem respostas rápidas e integradas.
    </p>
    <br />
    <p class="text-gray-800 text-lg leading-relaxed text-left">
      Entre os recursos disponíveis estão:
    </p>

    <ul class="list-disc list-inside text-gray-800 text-lg leading-relaxed">
      <li><strong>Linha do tempo</strong>, que organiza cronologicamente a evolução dos incidentes críticos e facilita o aprendizado com base em casos reais.</li>
      <li><strong>QR Code</strong>, que funciona como um atalho para acessar conteúdos de forma imediata em operações e treinamentos, garantindo agilidade e padronização no uso das informações.</li>
      <li><strong>Matrizes de risco</strong>, que permitem mapear ameaças e vulnerabilidades, apoiando a tomada de decisão preventiva e estratégica.</li>
    </ul>
    <br />
    <p class="text-gray-800 text-lg leading-relaxed text-left">
      A iniciativa busca assessorar a metodologia do Plano de Defesa e está em constante desenvolvimento. Quaisquer
      sugestões ou críticas são bem-vindas para aprimorar ainda mais a plataforma e torná-la uma ferramenta cada vez mais
      eficaz para os operadores de segurança pública. Não hesite em entrar em contato conosco através do menu principal
      <i>Contato</i>.
    </p>
  </div>
</div>
